.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  min-width: 350px;
  max-width: 350px;
}
