.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;

  &__text-error {
    font-size: 50px;
    color: red;
  }

  &__link:hover {
    color: rgb(116, 116, 116);
  }
}
