@import "./_Variables";

* {
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-size: $main-font-size;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
